<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <div>
        <a href="http://192.168.20.115:8585/index/?ip=192.168.20.115"><h1>192.168.20.115 정보</h1></a>
    </div>
    <div>
        <a href="http://192.168.20.115:8585/index/?ip=192.168.20.114"><h1>192.168.20.114 정보</h1></a>
    </div>
</body>
</html>
