<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        table{
            width : 100%;
            border: 1px solid #444444;
        }
        tr,td {
            border: 1px solid #444444;
        }
        h1{
            text-align: center;
        }
        progress {
            width: 300px;
            height: 25px;
        }

    </style>
</head>
<body>
    <span id="ip">{{ ip }}</span>
    <div>
        <progress value="50" max="100" id="total_gpu"></progress> <span id="total_gpu_s"></span> 총 GPU 사용량(%) <br>
        <progress value="50" max="100" id="total_memory"></progress> <span id="total_memory_s"></span> 총 memory 사용량(%) <br>
        <progress value="50" max="100" id="total_cpu"></progress> <span id="total_cpu_s"></span> 총 CPU 사용량(%) <br>
    </div>
    <div>
        <h1>NodeChange 정보</h1>
        <table id="node_table">
            <tr align="center">
                <td>시간</td>
                <td>IP주소</td>
                <td>총 GPU메모리 사용량(%)</td>
                <td>총 GPU메모리 사용량(MB)</td>
                <td>사용가능 DISK(GB)</td>
                <td>사용가능 메모리(GB)</td>
                <td>사용가능 DISK(%)</td>
                <td>메모리 사용량(%)</td>
                <td>총 CPU 사용량(%)</td>
                <td>사용가능한 CPU사용량(%)</td>
            </tr>
            
            <!--
            {% for node in nodes %}
            <tr align="center">
                <td>{{node.created_at}}</td>
                <td>{{node.ip.ip}}</td>
                <td>{{node.total_gpu_memory_using_percent}}</td>
                <td>{{node.total_gpu_memory_using_MB}}</td>
                <td>{{node.free_disk_GB}}</td>
                <td>{{node.free_memory_GB}}</td>
                <td>{{node.free_disk_percent}}</td>
                <td>{{node.total_memory_using_percent}}</td>
                <td>{{node.total_cpu_using_percent}}</td>
                <td>{{node.free_cpu_percent}}</td>
            </tr>
            {%endfor%}
            -->
        </table>

    </div>


    
    <div>
        <h1>DiskChange 정보</h1>

        <table id="disk_table">
            <tr align="center">
                <td>시간</td>
                <td>디스크이름</td>
                <td style="width: 200px;">IP주소</td>
                <td>각 디스크 사용량(GB)</td>
                <td>각 디스크 사용량(%)</td>
            </tr>
            <!--
            {% for disk in disks %}
            <tr align="center">
                <td>{{disk.create_at}}</td>
                <td>{{disk.disk_path}}</td>
                <td>{{disk.ip.ip}}</td>
                <td>{{disk.disk_using_GB}}</td>
                <td>{{disk.disk_using_percent}}</td>
            </tr>
            {%endfor%}
            -->
        </table>
    </div>
    

    
    <div>
        <h1>GpuChange 정보</h1>

        <table id="gpu_table">
            <tr align="center">
                <td>시간</td>
                <td>인덱스</td>
                <td>IP주소</td>
                <td>각 GPU 메모리 사용량(MB)</td>
                <td>각 GPU 메모리 사용률(%)</td>
            </tr>

            <!--
            {% for gpu in gpus %}
            <tr align="center">
                <td>{{gpu.created_at}}</td>
                <td>{{gpu.gpu_index}}</td>
                <td>{{gpu.ip.ip}}</td>
                <td>{{gpu.gpu_memory_using_MB}}</td>
                <td>{{gpu.gpu_memory_using_percent}}</td>
            </tr>
            {%endfor%}
            -->
        </table>
    </div>
    <script type="text/javascript">
        var node_cnt = 0;
        var disk_cnt = 0;
        var gpu_cnt = 0;
        // post 사용시 필요
        $.ajaxSetup({
             headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        setInterval(function(e) {
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8888/base/changed/',
                dataType: "json",
                data: {"ip": $('#ip').html()},
                success:function(response) {
                    console.log("data success", response);
                    // 노드 표 삽입
                    $('#node_table').append(`<tr id="node_${node_cnt}" align="center"></tr>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['created_at']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['ip_id']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['total_gpu_memory_using_percent']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['total_gpu_memory_using_MB']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['free_disk_GB']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['free_memory_GB']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['free_disk_percent']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['total_memory_using_percent']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['total_cpu_using_percent']}</td>`);
                    $('#node_' + (node_cnt)).append(`<td>${response['node']['free_cpu_percent']}</td>`);
                    node_cnt += 1;

                    // gpu 사용률 progressbar
                    $('#total_gpu').attr("value", `${response['node']['total_gpu_memory_using_percent']}`);
                    $('#total_gpu_s').text(`${response['node']['total_gpu_memory_using_percent']}%`);

                    // memory 사용률 progressbar
                    $('#total_memory').attr("value", `${response['node']['total_memory_using_percent']}`);
                    $('#total_memory_s').text(`${response['node']['total_memory_using_percent']}%`);

                    // cpu 사용률 progressbar
                    $('#total_cpu').attr("value", `${response['node']['total_cpu_using_percent']}`);
                    $('#total_cpu_s').text(`${response['node']['total_cpu_using_percent']}%`);

                    // 디스크 표 삽입
                    for(var l=0; l<response['disks'].length; l++) {
                        $('#disk_table').append(`<tr id="disk_${disk_cnt}" align="center"></tr>`);
                        $('#disk_'+(disk_cnt)).append(`<td>${response['disks'][l]['created_at']}</td>`);
                        $('#disk_'+(disk_cnt)).append(`<td>${response['disks'][l]['disk_path']}</td>`);
                        $('#disk_'+(disk_cnt)).append(`<td>${response['disks'][l]['ip_id']}</td>`);
                        $('#disk_'+(disk_cnt)).append(`<td>${response['disks'][l]['disk_using_GB']}</td>`);
                        $('#disk_'+(disk_cnt)).append(`<td>${response['disks'][l]['disk_using_percent']}</td>`);
                        disk_cnt += 1;
                    }

                    // gpu 표 삽입
                    for(var l=0; l<response['gpus'].length; l++) {
                        $('#gpu_table').append(`<tr id="gpu_${gpu_cnt}" align="center"></tr>`);
                        $('#gpu_'+(gpu_cnt)).append(`<td>${response['gpus'][l]['created_at']}</td>`);
                        $('#gpu_'+(gpu_cnt)).append(`<td>${response['gpus'][l]['gpu_index']}</td>`);
                        $('#gpu_'+(gpu_cnt)).append(`<td>${response['gpus'][l]['ip_id']}</td>`);
                        $('#gpu_'+(gpu_cnt)).append(`<td>${response['gpus'][l]['gpu_memory_using_MB']}</td>`);
                        $('#gpu_'+(gpu_cnt)).append(`<td>${response['gpus'][l]['gpu_memory_using_percent']}</td>`);
                        gpu_cnt += 1;
                    }
                },
                error:function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }, 2000)
    </script>
</body>
</html>