<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>192.168.20.115</h2>
        <a href="http://127.0.0.1:8888/base/fixed/?ip=192.168.20.115">fixed</a>
        <a href="http://127.0.0.1:8888/base/changed/?ip=192.168.20.115">changed</a>
    </div>
    <div>
        <h2>192.168.20.114</h2>
    <a href="http://127.0.0.1:8888/base/fixed/?ip=192.168.20.114">fixed</a>
    <a href="http://127.0.0.1:8888/base/changed/?ip=192.168.20.114">changed</a>
    </div>
</body>
</html>